@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imgSection{
    width: 35%;
    height: 85vh;
    background-image: url(Lady\ Img.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1111;
}
.imgSection h1{
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    font-family: kanit;
    letter-spacing: 2px;
}
.formSection{
    width: 50%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formTxt{
    width: 98%;
    font-family: kanit;
}
#headTxt{
    color: #514698;
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 2vh;
}
form{
    display: flex;
    justify-content: space-evenly;
}
.leftsection{
    width: 49%;
}
.rightsection{
    width: 49%;
}
input{
    width: 60%;
    background-color: transparent;
    color: #000;
    border: none;
    border-bottom: 1.5px solid #000;
    outline: none;
    font-size: 0.95em;
}
.inp{
    margin-bottom: 4vh;
}
p{
    font-size: 1.1em;
    font-weight: 400;
}
button{
    background-color: #514698;
    color: #fff;
    font-size: 1.1em;
    font-family: kanit;
    font-weight: 400;
    padding: 8px 16px 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
button:hover{
    color: #514698;
    border: 2px solid #514698;
    background-color: transparent;
}
footer{
    width: 100%;
    height: 30vh;
    background-color: #968DCA;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8vmin;
}
.link{
    width: 32%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1.05em;
    font-family: kanit;
}
a:hover{
    color: #514698;
}
.followOn{
    width: 40%;
}
#followtxt{
    font-size: 1em;
    font-family: kanit;
    margin-bottom: 1vh;
}
.logoSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 8vmin;
}
.logo {
    height: 3.2rem;
    width: 3.2rem;
    min-width: 50px;
    background-color: #514698;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    margin: 1.5rem
}
img{
    height: 30px;
    width: 30px;
    object-fit: cover;
}
@media screen and (max-width : 600px){
    .imgSection{
        width: 100%;
    }
    .imgSection h1{
        font-size: 3rem;
    }
    .formSection{
        width: 98%;
    }
    input{
        width: 70%;
    }
    footer{
        flex-direction: column;
        margin: 4vh 0vh 0vh 0vh;
        padding: 4vh 0vh 0vh 0vh;
        padding-bottom: 4vh;
        height: 40vh;
    }
    .followOn{
        width: 64%;
    }
    .container{
        flex-direction: column;
    }
    .link{
        width: 80%;
    }
    .links{
        width: 80%;
        margin-bottom: 4vh;
    }
    .logoSection{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}
